.idea/
**/.DS_Store
**/__pycache__/
**/.ipynb_checkpoints
**/venv/
_Docs/~$taset_input_template.docx
Aneeta/Table.pdf
Aneeta/img2table/cnn_model.ipynb
Aneeta/img2table/Untitled.ipynb
Aneeta/img2table/My_model.h5
